body {
  background: #f0f0f0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div {
  background: #111;
  color: #eee;
  padding: 20px;
  text-align: center;
  flex-grow: 1;
}
